/.vs
/.vscode
/Assignment 2 - 1426177 - Alessio Naji-Sepasgozar.zip
/Assignment 3 - 1426177 - Alessio Naji-Sepasgozar.zip
/assignment3.cpp
/assignment3.exe
/course.cpp
/Functions.cpp
/Functions.exe
/helloworld
/Homework - Alessio Naji.zip
/html syntax.txt
/HW 3 - Alessio Naji - 1426177.zip
/Hw2Q1.cpp
/Hw2Q1.exe
/inputfile.txt
/list.exe
/List.h
/ListDriver.cpp
/ListDriver.exe
/listdriver2.cpp
/listdriver2.exe
/liststack.cpp
/Liststack.h
/New folder
/output.txt
/Q1.cpp
/Q1.exe
/Q12.exe
/Q2.cpp
/Q2.exe
/Q3
/question 3.pdf
/Stackdriver2.cpp
/Stackdriver2.exe
/test.cpp
/test.exe
/Untitled-1.cpp
/Untitled-1.exe